/3_prong_growth_params.txt
/abaqus.rpy
/abaqus.rpy.1
/abaqus_acis.log
/cracked_model_with_3_prongs.fdb
/cracked_model_with_3_prongs.inp
/Model_Definition.py
/Model_Definition.pyc
/New folder
/Para_3-7075ft_PHI_28_THETA_168
/Para_5ft_PHI_0_THETA_0
/PULLING
/static_crack_analysis_3_prongs.fdb
/static_crack_analysis_3_prongs.inp
/__pycache__